.landing-bg-img {
  background:
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(images/landing_bg.jpg),
      no-repeat center center;
  background-size: cover;
  height: 1040px;
  width: 100%;
  margin-top: -12px;
  filter: blur(2px);
  transition: all 0.2s linear;
}

.landing-container {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  padding: 20px;
  text-align: center;
}

#root > div > div:nth-child(2) > div.ui.container.landing-container > h2 {
  color: white;
  font-size: 12rem;
}

.landing-header-mid {
  color: #53d480;

}

.landing-text {
  color: #56ff91;
  font-size: 2rem;
}

.nav-header {
  height: 150px;
  background: #1b1c1d;
  display: flex;

  /*text-align: center !important;*/
  /*justify-content: center !important;*/
  /*flex-direction: row;*/
  /*align-items: center !important;*/
}

.ui.borderless.inverted.top.attached.menu {
  display: flex;
  justify-content:center;
}


.nav-header-mid {
  color: #53d480;
  background: #1b1c1d;
}

.nav-header-font {
  font-size: 50px !important;
}

.h1.ui.header {
  font-size: 20px;
}

.signin-bg-img {
  background:
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(images/landing_bg.jpg),
      no-repeat center center;
  background-size: cover;
  height: 1040px;
  width: 100%;
  margin-top: -12px;
  transition: all 0.2s linear;
}

.signup-bg-img {
    background:
            linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
            url(images/landing_bg.jpg),
            no-repeat center center;
    background-size: cover;
    height: 1040px;
    width: 100%;
    margin-top: -12px;
    transition: all 0.2s linear;
}


#signup-form {
  border: 1px solid red !important;
}

#signup-form-submit.ui.button {
    color: white;
  background-color: #53d480;
}

#signin-form {
  border: 1px solid red !important;
}

#signin-form-submit.ui.button {
  color: white;
  background-color: #53d480;
}

#signup-form-email {
  border: 1px solid #53d480 !important;
}

#signup-form-password {
    border: 1px solid #53d480 !important;
}
#signin-form-email {
  border: 1px solid #53d480 !important;
}

#signin-form-password {
  border: 1px solid #53d480 !important;
}

.homescreen-bg-img {
  background:
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(images/homescreen_bg.jpg),
      no-repeat center center;
  background-size: cover;
  height: 1040px;
  width: 100%;
  margin-top: -12px;
  transition: all 0.2s linear;
}

.ui.fluid.image.landing-bottom-image {
  height: 100%;
  width: 100%;
}

.landing-bottom-image {
  height: 100%;
  width: 100%;
}

.landing-grid {
  background-color:#1b1c1d;
}

.landing-grid-background {
  background-color:#1b1c1d;
}

.landing-grid-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

@media only screen and (max-width: 663px) {
  #root > div > div:nth-child(2) > div.ui.container.landing-container > h2 {
    font-size: 9rem;
  }
}