/* LANDING PAGE */
.landing-bg-img {
  background:
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(images/landing_bg.jpg),
      no-repeat center center;
  background-size: cover;
  height: 1040px;
  width: 100%;
  margin-top: -12px;
  /*filter: blur(2px);*/
  transition: all 0.2s linear;
}

.landing-container {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  padding: 20px;
  text-align: center;
}


.landing-card-container {
  width: 100%
}

.landing-bg-img {
    background:
            linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
            url(images/landing_bg.jpg),
            no-repeat center center;
    background-size: cover;
    height: 1040px;
    width: 100%;
    margin-top: -12px;
    /*filter: blur(2px);*/
    transition: all 0.2s linear;
}

.landing-container {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    padding: 20px;
    text-align: center;
}


.landing-card-container {
    width: 100%
}

.homescreen-bg-img {
    background:
            linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)),
            url(images/homescreen_bg.jpg),
             center center,
            repeat-y;
    background-size: cover;

    height: 3400px !important;
    /*height: 100%;*/
    width: 100%;
    margin-top: -12px;
    /*filter: blur(2px);*/
    transition: all 0.2s linear;
}


.homescreen-card-container {
    position: relative;
    width: 100%;
    padding: 100px;
}

.card-link {
  color: #1f733d;
  font-size: 30px;
  transition: 0.3s all ease-in;
}

.card-link:hover {
  color: #2ab95d;
  opacity: 0.8;
}

.card-link:active {
  opacity: 0.4;
}





#root > div > div:nth-child(2) > div.ui.container.landing-container > h2 {
  color: white;
  font-size: 12rem;
}

.landing-header-mid {
  color: #53d480;

}

.landing-text {
  color: #56ff91;
  font-size: 2rem;
}

/*.nav-header {*/
/*  height: 150px;*/
/*  background: #1b1c1d;*/
/*  display: flex;*/

/*  !*text-align: center !important;*!*/
/*  !*justify-content: center !important;*!*/
/*  !*flex-direction: row;*!*/
/*  !*align-items: center !important;*!*/
/*}*/

.ui.borderless.inverted.top.attached.menu {
  display: flex;
  justify-content:center;
}


.nav-header-mid {
  color: #53d480;
}

/*.nav-header-font {*/
/*  font-size: 50px !important;*/
/*}*/

.h1.ui.header {
  font-size: 20px;
}

/* SIGN IN & SIGN OUT PAGE */
.signin-bg-img {
  background:
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(images/landing_bg.jpg),
      no-repeat center center;
  background-size: cover;
  height: 1040px;
  width: 100%;
  margin-top: -12px;
  transition: all 0.2s linear;
}

.signup-bg-img {
    background:
            linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
            url(images/landing_bg.jpg),
            no-repeat center center;
    background-size: cover;
    height: 1040px;
    width: 100%;
    margin-top: -12px;
    transition: all 0.2s linear;
}


#signup-form {
  border: 1px solid red !important;
}

#signup-form-submit.ui.button {
    color: white;
  background-color: #53d480;
}

#signin-form {
  border: 1px solid red !important;
}

#signin-form-submit.ui.button {
  color: white;
  background-color: #53d480;
}

#signup-form-email {
  border: 1px solid #53d480 !important;
}

#signup-form-password {
    border: 1px solid #53d480 !important;
}
#signin-form-email {
  border: 1px solid #53d480 !important;
}

#signin-form-password {
  border: 1px solid #53d480 !important;
}

.homescreen-bg-img {
  background:
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(images/homescreen_bg.jpg),
      no-repeat center center;
  background-size: cover;
  height: 1040px;
  width: 100%;
  margin-top: -12px;
  transition: all 0.2s linear;
}


.ui.fluid.image.landing-bottom-image {
  height: 100%;
  width: 100%;
}

.landing-bottom-image {
  height: 100%;
  width: 100%;
}

.landing-grid {
  background-color:#1b1c1d;
}

.landing-grid-background {
  background-color:#1b1c1d;
}

.landing-grid-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}


.aboutus-bg-img {
  background:
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(images/aboutus_bg.jpg),
      no-repeat center center;
  background-size: cover;
  height: 520px;
  width: 100%;
  margin-top: -12px;
  /*filter: blur(2px);*/
  transition: all 0.2s linear;
}

.aboutus-sizedbox {
  height: 130px;
  width: 100%;
  background-color: #1b1c1d;
}

.aboutus-div {
  height: 260px;
  width: 100%;
  background-color: #1b1c1d;
}

.aboutus-container {
  display: flex;
  justify-content: center;
  align-items: center;

}


/* VENDOR PAGE */
.vendor-container {
  margin-top: -10px;
  margin-bottom: 5rem;
}

/* VENDOR CONTENT CONTAINER */
#root > div > div.vendor-container > div {
  margin-top: 3rem;
}

/* VENDOR IMAGE */
#root > div > div.vendor-container > img {
  height: 765px;
}

.vendor-header {
  color: #1f733d;
  font-size: 4rem;
}

.vendor-cuisine {
  color: #8c8c8c;
}

/* VENDOR CUISINE */
#root > div > div.vendor-container > div > p:nth-child(2) {
  margin-top: 10px;
}

.vendor-address {
  font-size: 1rem;
  margin-top: 10px;
}

.vendor-stat-val {
  margin-left: 5px;
}

.vendor-amenities-header,
.vendor-menu-header {
  margin-bottom: 15px;
}

/* VENDOR HOURS, AMENITIES & MENU GRID */
#root > div > div.vendor-container > div > div > div > div > div,
#root > div > div.vendor-container > div > div.ui.stackable.column.grid > div > div {
  border: none;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  padding-right: 3rem;
  padding-left: 3rem;
}

/* VENDOR HOURS TEXT */
#root > div > div.vendor-container > div > div:nth-child(10) > div > div > div > div > div > p {
  margin-top: 10px;
}

.vendor-address,
.vendor-desc,
.vendor-stat,
.vendor-hours,
.vendor-amenities {
  font-size: 16px;
}

/* VENDOR AMENITIES */
#root > div > div.vendor-container > div > div:nth-child(13) > div > div > p > span {
  margin-left: 5px;
}

/* VENDOR MENU DIVIDER */
#root > div > div.vendor-container > div > div.ui.stackable.column.grid > div > div > div > div > div.ui.divider {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* VENDOR MENU ITEMS */
#root > div > div.vendor-container > div > div.ui.stackable.column.grid > div > div > div > div > div.list > div > div > div {
  font-size: 16px;
  margin-bottom: 1rem;

}

@media only screen and (max-width: 663px) {
  #root > div > div:nth-child(2) > div.ui.container.landing-container > h2 {
    font-size: 9rem;
  }
}