/* LANDING PAGE */
.landing-bg-img {
  background:
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(images/landing_bg.jpg),
      no-repeat center center;
  background-size: cover;
  height: 1040px;
  width: 100%;
  margin-top: -12px;
  filter: blur(2px);
  transition: all 0.2s linear;
}

.landing-container {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  padding: 20px;
  text-align: center;
}

#root > div > div:nth-child(2) > div.ui.container.landing-container > h2 {
  color: white;
  font-size: 12rem;
}

.landing-header-mid {
  color: #53d480;
}

.landing-text {
  color: #56ff91;
  font-size: 2rem;
}

.nav-header-mid {
  color: #53d480;
}

/* SIGN IN & SIGN OUT PAGE */
.signin-bg-img {
  background:
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(images/landing_bg.jpg),
      no-repeat center center;
  background-size: cover;
  height: 1040px;
  width: 100%;
  margin-top: -12px;
  transition: all 0.2s linear;
}

.signup-bg-img {
    background:
            linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
            url(images/landing_bg.jpg),
            no-repeat center center;
    background-size: cover;
    height: 1040px;
    width: 100%;
    margin-top: -12px;
    transition: all 0.2s linear;
}


#signup-form {
  border: 1px solid red !important;
}

#signup-form-submit.ui.button {
    color: white;
  background-color: #53d480;
}

#signin-form {
  border: 1px solid red !important;
}

#signin-form-submit.ui.button {
  color: white;
  background-color: #53d480;
}

#signup-form-email {
  border: 1px solid #53d480 !important;
}

#signup-form-password {
    border: 1px solid #53d480 !important;
}
#signin-form-email {
  border: 1px solid #53d480 !important;
}

#signin-form-password {
  border: 1px solid #53d480 !important;
}

.homescreen-bg-img {
  background:
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(images/homescreen_bg.jpg),
      no-repeat center center;
  background-size: cover;
  height: 1040px;
  width: 100%;
  margin-top: -12px;
  transition: all 0.2s linear;
}

/* VENDOR PAGE */
.vendor-container {
  margin-top: -10px;
  margin-bottom: 5rem;
}

/* VENDOR CONTENT CONTAINER */
#root > div > div.vendor-container > div {
  margin-top: 3rem;
}

.vendor-header {
  color: #1f733d;
  font-size: 4rem;
}

/* VENDOR CUISINE */
#root > div > div.vendor-container > div > p:nth-child(2) {
  margin-top: 10px;
}

.vendor-address {
  font-size: 1rem;
  margin-top: 10px;
}

.vendor-stat-val {
  margin-left: 5px;
}

.vendor-amenities-header,
.vendor-menu-header {
  margin-bottom: 15px;
}

/* VENDOR HOURS, AMENITIES & MENU GRID */
#root > div > div.vendor-container > div > div > div > div > div,
#root > div > div.vendor-container > div > div.ui.stackable.column.grid > div > div {
  border: none;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  padding-right: 3rem;
  padding-left: 3rem;
}

/* VENDOR HOURS TEXT */
#root > div > div.vendor-container > div > div:nth-child(10) > div > div > div > div > div > p {
  margin-top: 10px;
}

.vendor-address,
.vendor-desc,
.vendor-stat,
.vendor-hours,
.vendor-amenities {
  font-size: 16px;
}

/* VENDOR AMENITIES */
#root > div > div.vendor-container > div > div:nth-child(13) > div > div > p > span {
  margin-left: 5px;
}

/* VENDOR MENU DIVIDER */
#root > div > div.vendor-container > div > div.ui.stackable.column.grid > div > div > div > div > div.ui.divider {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* VENDOR MENU ITEMS */
#root > div > div.vendor-container > div > div.ui.stackable.column.grid > div > div > div > div > div.list > div > div > div {
  font-size: 16px;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 663px) {
  #root > div > div:nth-child(2) > div.ui.container.landing-container > h2 {
    font-size: 9rem;
  }
}